<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.jiaxufei.jbluetooth">

  <application
    android:allowBackup="true"
    android:label="@string/btooth_app_name"
    android:supportsRtl="true"
    tools:replace="android:label">
    <activity android:name=".BlueToothActivity"/>
  </application>
</manifest>