<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.jiaxufei.jbluetooth">
  <!--1、声明权限，注意可能需要的运行时权限-->
  <uses-permission android:name="android.permission.BLUETOOTH"/>
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

  <application
    android:allowBackup="true"
    android:icon="@drawable/img_blue_tooth"
    android:label="@string/btooth_app_name"
    android:name="com.jiaxufei.bluetooth.runalone.application.BluetoothApplication"
    android:supportsRtl="true"
    android:theme="@style/commonAppTheme"
    tools:replace="android:label">
    <activity android:name=".BlueToothActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest>